body {
  background-color: #f0f8ff;
}

.container {
  display: flex;
  flex-direction: column;
}

.appointments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.appointment {
  margin: 5px;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  position: relative;
  width: 200px;
  height: 50px;
  display:flex;
}

.appointment-free {
  background: #FDF0D5;
  cursor: pointer;
}

.appointment-break {
  background: #C6D8D3;
}

.appointment-reserve {
  background: #FBBB45;
  cursor: pointer;
}

.appointment-reserved {
  background: #FB6F45;
}

.appointment-closed {
  background: #7978C0;
}

.day-text {
  text-align: center;
  font-weight: 700;
}

.time {
  margin: 2px;
}
.my-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin: 3px;
}

.input-name {
  background: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 150px;
  font-size: 16px;
}

.input-disabled {
  background: #DCDCDC;
}

.input-enabled {
  background: #FFFFFF;
}

.appointment-text {
  background: #DCDCDC;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  width: 125px;
  font-size: 16px;
  border-top-left-radius: 25px;
  text-align: center;
}

.reserve-button {
  border: 0;
  background: 0;
  outline: 0;
  margin: 25px auto auto auto;
  width: 200px;
  height: 50px;
  font-size: 18px;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  background-color: #82ce85;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #4CAF50;
}

.reserve-button:active {
  background-color: #4CAF50;
  box-shadow: inset 3px 4px 5px 0px rgba(0,0,0,0.39);
}

.day {
  margin: 25px auto auto auto;
}
