body {
  background-color: #f0f8ff;
}

.container {
  display: flex;
  flex-direction: column;
}

.appointments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.appointment {
  width: 200px;
  height: 50px;
  display: flex;
  background: #FDF0D5;
  margin: 5px;
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  position: relative;
}

.appointment-break {
  width: 200px;
  height: 50px;
  display:flex;
  background: #C6D8D3;
  margin: 5px;
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  position: relative;
}

.appointment-reserved {
  width: 200px;
  height: 50px;
  display:flex;
  background: #FBBB45;
  margin: 5px;
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  position: relative;
}

.appointment-closed {
  width: 200px;
  height: 50px;
  display:flex;
  background: #7978C0;
  margin: 5px;
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.39);
  position: relative;
}

.day-text {
  text-align: center;
}

.time {
  margin: 2px;
}
.my-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin: 3px;
}

.input-name {
  background: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 150px;
  font-size: 16px;
}

.input-disabled {
  background: #DCDCDC;
}

.input-enabled {
  background: #FFFFFF;
}

.break-closed-text {
  background: #DCDCDC;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 150px;
  font-size: 16px;
}
